@font-face {
  font-family: "Nanumregular";
  src: url("./styleds/fonts/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "NanumBold";
  src: url("./styleds/fonts/NanumGothic-Bold.ttf");
}

@font-face {
  font-family: "NanumExtra";
  src: url("./styleds/fonts/NanumGothic-ExtraBold.ttf");
}

@font-face {
  font-family: "Prompt";
  src: url("./styleds/fonts/Prompt-ExtraBold.ttf");
}
